# ignore all by default
/*
/sublime3/User/*

# do not ignore:
!sublime3/User/*.sublime-settings
!sublime3/User/*.sublime-keymap
!bin/

!.gemrc
!.gitconfig.erb
!.gitignore
!.gitignore-global
!.irbrc
!.pryrc
!.irbrc
!.zshenv
!.zshrc

!Rakefile
!system_defaults.sh
!readme.md
